body {
    background-color: rgb(249, 248, 248); 
    color: black;
    transition: 0.3s ease; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.page-heading {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #333;
}
body.dark-theme {
    background-color: #272c36;
    color: #ca6b6b;
}
body.dark-theme .container {
    border: 2px solid #626a73;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}