input:valid:focus,
input:valid {
  border: 1px solid #351111; 
}
input:invalid:focus { 
  border-color: #a35353;
  box-shadow: 0 0 5px rgba(247, 40, 40, 0.5);
} 
input {
  padding: 8px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box;
}
