body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.page-heading {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #235657;
}
.nav-item {
    display: inline-block;
}
.nav-item a {
    display: block;
    color: rgb(222, 220, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-item.active {
    background-color: #cd506b;
    color: rgb(234, 229, 229);
}
